@font-face {
    font-family: 'Minecraft-Regular';
    src:url('Minecraft-Regular.ttf.woff') format('woff'),
        url('Minecraft-Regular.ttf.svg#Minecraft-Regular') format('svg'),
        url('Minecraft-Regular.ttf.eot'),
        url('Minecraft-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Minecraft-Regular';
    background-color: forestgreen;
    background-image: url(../images/background-2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.homepage{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}


.logo{
    width: 100%;
    margin-top: 20%;
}

h1{
    font-size: 150px;
    color: white;
    font-weight: 400;
    margin-bottom: 2rem;
}

h2{
    font-family: "Minecraft-Regular";
    font-size: 50px;
    color: yellow;
    font-weight: 400;
    text-align: center;
    margin: 0;
    text-shadow: 3px 3px 5px black;
}

h3{
    font-size: 70px;
    color: white;
    font-weight: 400;
    text-indent: 2rem;
    margin-bottom: .4em;
}

h4{
    font-size: 30px;
    font-weight: 400;
    color: yellow;
    margin: 0;
}

p{
    font-family: "Noto Sans", sans-serif;
    color: white;
    line-height: 1.5em;
    font-size: 17px;
}

.grid{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: auto;
    justify-items: center;
}

.grid li{
    display: block;
    padding: 1rem 1rem 1rem 1rem;
}

a#btn_home{
    display: inline-block;
    height: 80px;
    width: 320px;
    box-sizing: border-box;
    background-image: url(../images/button.jpg);
    background-size: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 1rem;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: white;
    font-size: 20px;
}

.dev{
    background-color: peru;
    background-image: url(../images/dirt-background.jpg);
    background-repeat: repeat;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.game{
    background-color: gray;
    background-image: url(../images/stone-background.jpg);
    background-repeat: repeat;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.char{
    background-color:maroon;
    background-image: url(../images/nether-background.jpg);
    background-repeat: repeat;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.worlds{
    background-color:maroon;
    background-image: url(../images/obsidien-background.jpg);
    background-repeat: repeat;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.grid-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin-bottom: 7rem;
}

.grid-text li{
    display: block;
    padding: 2em;
}

.grid-text img{
    width: 95%;
}

.small{
    max-width: 900px;
    margin: auto;
}
.small img{
    width: 90%;
}

.big{
    width: 300%;
}



a#btn_nav{
    font-family: "Minecraft-Regular";
}

@media (max-width: 1120px) {
    .grid{
        width: 70%;
        margin: 0 10% 0 10%;
    }
}
@media (max-width: 970px) {
    .grid-text{
        grid-template-columns: 1fr;
    }
    h1{
        font-size: 130px;
        margin: .5rem;
        margin-top: 4rem;
    }
    footer{
        position: static;
    }
}
@media (max-width: 900px) {
    .grid{
        width: 70%;
        margin: 0;
    }
    h1{
        font-size: 100px;
    }
}
@media (max-width: 800px) {
    .grid{
        grid-template-columns: 1fr;
        width: 90%;
        margin: 0 5% 0 5%;
    }
    a#btn_home{
        height: 70px;
        width: 280px;
        font-size: 27px;
    }
    h2{
        font-size: 40px;
    }
}

@media (max-width: 700px) {
    .logo{
        margin-top: 30%;
    }
    h1{
        font-size: 60px;
    }
    h3{
        font-size: 55px;
    }
}

nav{
    width: 100%;
    height: 5%;
    background-color: rgb(16, 81, 16);
    position: fixed;
    top: 0;
    left: 0;
}
.flex{
    display: flex;
    padding: 0;
    padding-left: 5rem;
}

.flex a{
    text-decoration: none;
    color: yellow;
}

.flex li{
    display: block;
    padding-right: 2rem;
}