html{
    font-family:"bigcity-grotesque-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    line-height: 1.7;
    background-color: rgb(255, 253, 246);
}
header{
    background-image: url(../images/new-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 120px;
    padding-bottom: 40px;
    width: 100%;
    color: white;
}
.description{
    width: 70%;
    margin: auto;
}
body{
    margin: auto;
}
h1{
    margin-top: 3rem;
    font-weight:800;
    font-size: 40pt;
    line-height: 1;
}
h2{
    font-weight: 400;
    font-size: 14pt;
    font-style: italic;
    line-height: 1.7;
}
h3{
    font-size: 25pt;
    font-weight: 700;
    line-height: .5;
    margin-top: 0;
}
h4{
    font-size: 18pt;
    font-weight: 500;
    line-height: 0;
    margin-top: 1rem;
}
h5{
    font-size: 18pt;
    font-weight: 500;
    line-height: 0;
    margin: 2.2rem 0rem 1rem 0rem;
}
img{
    border: 1px solid #000;
    border-radius: 10px;
}
.grid-top
{
    display: grid;
    grid-template-columns: .5fr 1.2fr;
}
.grid-top li{
    display: block;
    
}
.space{
    padding-left: 2rem;
}
#top{
    width: 100%;
}
.one{
    background-color: none;
}
.ingredients{
    max-width: 1000px;
    width: 85%;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.items{
    padding-right: 2rem;
}
.first-grid{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
}
.grid li{
    display: block;
}
.item-for-purchase li{
    display: normal;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
.first{
    max-width: 550px;
    width: 100%;
}
.instructions{
    max-width: 1000px;
    width: 85%;
    margin: auto;
    padding-top: 1rem;
}
.mincedpork{
    background-color: none;
    padding-bottom: 1rem;
}
.toassemble{
    background-color: none;
}
.using-grid{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
}
.using-grid li{
    padding: 1rem;
}
.no-top{
    padding-top: 0;
}
.instruction-image{
    width: 90%;
}
.full{
    background-color:none;
}
.gallery{
    max-width: 1200px;
    width: 80%;
    margin: auto;
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px
}
.scroll-container{
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
.for-gallery{
    max-width: 350px;
    width: 60%;
}
.sources{
    max-width: 1000px;
    width: 80%;
    margin: auto;
    font-size: 13pt;
}
footer{
    font-style: italic;
    font-weight: 300;
    font-size: 11pt;
    max-width: 1000px;
    width: 80%;
    margin: auto;
}


@media (max-width: 1400px) {
    .description{
        width: 75%;
    }
  }
  @media (max-width: 1300px) {
    .description{
        width: 80%;
    }
  }
  @media (max-width: 1100px) {
    .grid-top{
        grid-template-columns: .6fr 1fr;
        padding-left: 0;
    }
    .description{
        width: 90%;
    }
  }
@media (max-width: 800px) {
    .description{
        width: 90%;
    }
    header{
        padding-top: 40px;
    }
    .grid-top{
        grid-template-columns: 1fr;
        padding-left: 0;
    }
    .grid-top li{
        padding-left: 1rem;
    }
    #top{
        width: 65%;
    }
    .first-grid{
        grid-template-columns: 1fr;
        padding-left: 0; 
    }
    .first{
        margin-top: 2rem;
        padding-top: 0rem;
        width: 100%;
    }
    .using-grid { 
        grid-template-columns: 1fr; 
        padding-left: 0;
    }
    .using-grid li{
        padding-bottom: 0;
    }
    .instruction-image{
        padding-bottom: 0rem;
        margin-bottom: 1.2rem;
    }
    .gallery{
        width: 100%;
    }
    .scroll-container{
        padding: 0;
    }
    .for-gallery{
        width: 80%;
    }
    html{
        font-size: 16pt;
    }

}
@media (max-width: 700px) {
    #top{
        width: 80%;
    }
}